.overlay{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.3);
   z-index: 3;
   display: flex;
   justify-content: center;
   align-items: center;
}
.modal{
    border: 2px solid darkgray;
    width: 45vw;
    background-color: white;
  }
  .modal-container{
    display: flex;
    flex-direction: column;
    padding: 3rem;
  }
  .text-container{
    display: flex;
    flex-direction: column;   
    padding: 0 !important;
    margin-bottom: 2rem;
  }
  .text{
    padding: 3px;
    margin-top: 5px;
    resize: none;
    font-size: 17px;
  }
  .rating-container{
    display: flex;
    justify-content: space-between;
  }
  .rating{
    width: 50px;
  }
  .exit{
    float: right;
    border: none;
    color: black;
    padding: 0 5px;
    margin-top: auto;
  }
  .exit:hover{
    background-color: rgb(255, 0, 0);
  }
  .submit{
    align-self: center;
  }
