.book-info{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
.book-info img{
    height: 75vh;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
    padding: 20px;
}
.info{
    width: 60%;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
    padding: 10px;
}
.genres{
    padding: 20px 0px;
}
.favorite-button{
    border: none;
    background-color: white;
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}
.not-favorited{
    background-image: url(/public/NotFavorited.png);
}
.not-favorited:hover{
    background-image: url(/public/NotFavoritedHover.png);
    background-color: white;
}
.favorite{
    background-image: url(/public/Favorited.png);
}
.favorite:hover{
    background-color: white;
}
.comment-section{
    display: flex;
    flex-direction: column;
    margin: 0% 5% 1% 5%;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
    padding: 15px;
  }
  .comment-section button{
    max-width: 200px;
    align-self: center;
  }