.hero{
    background-image: url(/src/Images/emil-widlund-xrbbXIXAWY0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 39vh;
    width: 100%;
    display: flex;
    color: white;
    justify-content: center;
    font-size: 100px;
}
.featured-book{
    display: flex;
    justify-content: space-evenly;
}