.result-container{
    display: flex;
    margin: 1% 8%;
    border: 1px solid lightgray;
    padding: 15px;
}
.information-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 2% !important; 
}
.title-link{
    text-decoration: none;
    color: black;
}